In [1]:
import sqlite3

### Підключаємо базу даних та створюємо таблицю

In [2]:
con = sqlite3.connect("Movies.db")
cur = con.cursor()

In [3]:
cur.execute("""CREATE TABLE If Not Exists Movies (title text,
                                                  year integer,
                                                  director text,
                                                  genre text,
                                                  rating real)""")

### Ствоюємо клас та додаємо методи
1) select
2) insert
3) update rating
4) delete

In [4]:
class Movie:
    def __init__(self, title, year, director, genre, rating):
        self.title = title
        self.year = year
        self.director = director
        self.genre = genre
        self.rating = rating
    
    @classmethod    
    def select_movie(self, name):
        cur.execute("Select * from Movies where title=?", (name,))
        res = cur.fetchone()
        return Movie(res[0],res[1],res[2], res[3],res[4])
    
    def insert_movie(self):
        cur.execute('INSERT INTO Movies(title, year, director,genre, rating) Values(?,?,?,?,?)', (self.title, self.year, self.director, self.genre, self.rating))
        con.commit()
            
    def update_rating(title, rating):
        cur.execute('UPDATE Movies SET rating=? WHERE title=?', (rating,title))
        con.commit()
        
    def delete(title):
        cur.execute('DELETE FROM Movies WHERE title=?', (title,))
        con.commit()

In [5]:
movie_1 = Movie('One Piece', 1999, 'Konosude Uda', 'adventure', 9.0)
movie_2 = Movie('Blade', 1998, 'Steven Norrington', 'horror', 7.1)
movie_3 = Movie('Pulp fiction', 1994, 'Quentin Tarantino', 'comedy', 8.9)

### Перевіряємо на роботу всі методи

In [6]:
movie_1.insert_movie()

In [7]:
Movie.select_movie('One Piece').__dict__

{'title': 'One Piece',
 'year': 1999,
 'director': 'Konosude Uda',
 'genre': 'adventure',
 'rating': 9.0}

In [8]:
Movie.update_rating('One Piece', 10)

In [9]:
Movie.select_movie('One Piece').__dict__

{'title': 'One Piece',
 'year': 1999,
 'director': 'Konosude Uda',
 'genre': 'adventure',
 'rating': 10.0}

In [10]:
Movie.delete('One Piece')

In [11]:
res = cur.execute("select * from Movies")
res.fetchall()

[]

In [12]:
movie_3.insert_movie()

In [13]:
res = cur.execute("select * from Movies")
res.fetchall()

[('Pulp fiction', 1994, 'Quentin Tarantino', 'comedy', 8.9)]